main {
    background-image: url(../img/photoIndexPage/battleGround.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
/*positionnement des images sur le background*/
main>img {
    position: absolute;
    width: 10%;
}
/* img{

    width: 1%;

} */

.pikachu {
    left: 30%;
    bottom: 20%;
}
.salameche {
    right: 25%;
    top: 30%;
}
/*La vie des pokemon*/
.lesPointsDeVieSalameche{
    position: absolute;
    right: 35%;
        top: 30%;
}
.lesPointsDeViePikachu {
    position: absolute;
    left: 42%;
    bottom: 40%;
}
.vieAuMax {
    width: 250px;
    height: 20px;
    left: 50%;
    top: 30%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.pvActuelle {
    width: 100%;
    height: 100%;
    background-color: red;
}

.pokeBall{
    width: 250px;
}